/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	right: 0.7rem;
	top: 0.8rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: black;
}




/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 50px;
	width: 50px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: white;
	height: 50px;
	width: 50px;
	right: 0.3rem;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
	position: fixed;
	height: 100%;
}

/* General sidebar styles */
.bm-menu {
	background: black;
	padding-top: 8rem;
	text-align: center;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	color: #b8b7ad;
	padding: 0.8em;
}

/* Individual item */
.bm-item {
	display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}

.header-clearfix {
	display: block;
	height: 53px;
	background-color: white;
}

.logo {
	font-size: 2.9em;
	font-weight: bold;
	display: block;
	float: left;
	padding: 1rem 0 1rem 1rem;
	text-decoration: none;
	letter-spacing: -0.08rem;
	color: #ffb700;
}

.menulink {
	font-size: 6rem;
	padding: 3rem 0;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	transition: color 0.1s linear;



}

@media (max-width: 576px) {
	.menulink {
		font-size: 4rem;
		text-align: right;
		padding: 2rem 0;
	}
}